<section class="py-5">

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div>
            <img src="/img/blank.jpg" alt="<%- product.productName %>" />
        </div>

    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2><%- product.productName %></h2>
        <h4 class="">current price: <span><%- product.price %> €</span></h4>
        <form action="/cart/add/<%- product.idProduct %>" method="post">
            <h5 class="colors">colors:
                    <% colors.forEach(function(color) { %>
                         <input name="color" type="radio"  value="<%- color.idColor %>" onclick="getSizes(<%- product.idProduct %>,this.value)"  ><div style="background-color:<%- color.colorName %>" class="color" ></div>
                    <% }); %>            
            </h5>
                <span id="sizes" data-toggle="tooltip" ></span>
                <button type="submit" class="btn  btn-default"><span > Add to cart </span></button>
        </form>
        
      </div>
    </div>
  </div>
</section>
       
